zwscsclient/zwscsclient/Web References/localhost.staff/StaffServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://endpoint.service/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="StaffServiceService" targetNamespace="http://endpoint.service/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ws02/StaffService?xsd=1" namespace="http://types/" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ws02/StaffService?xsd=2" namespace="http://endpoint.service/" />
    </xsd:schema>
  </types>
  <message name="getTotal">
    <part name="parameters" element="tns:getTotal" />
  </message>
  <message name="getTotalResponse">
    <part name="parameters" element="tns:getTotalResponse" />
  </message>
  <message name="getAllStaff">
    <part name="parameters" element="tns:getAllStaff" />
  </message>
  <message name="getAllStaffResponse">
    <part name="parameters" element="tns:getAllStaffResponse" />
  </message>
  <message name="setNewStaff">
    <part name="parameters" element="tns:setNewStaff" />
  </message>
  <message name="setNewStaffResponse">
    <part name="parameters" element="tns:setNewStaffResponse" />
  </message>
  <portType name="StaffService">
    <operation name="getTotal">
      <input wsam:Action="http://endpoint.service/StaffService/getTotalRequest" message="tns:getTotal" />
      <output wsam:Action="http://endpoint.service/StaffService/getTotalResponse" message="tns:getTotalResponse" />
    </operation>
    <operation name="getAllStaff">
      <input wsam:Action="http://endpoint.service/StaffService/getAllStaffRequest" message="tns:getAllStaff" />
      <output wsam:Action="http://endpoint.service/StaffService/getAllStaffResponse" message="tns:getAllStaffResponse" />
    </operation>
    <operation name="setNewStaff">
      <input wsam:Action="http://endpoint.service/StaffService/setNewStaffRequest" message="tns:setNewStaff" />
      <output wsam:Action="http://endpoint.service/StaffService/setNewStaffResponse" message="tns:setNewStaffResponse" />
    </operation>
  </portType>
  <binding name="StaffServicePortBinding" type="tns:StaffService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getTotal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAllStaff">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="setNewStaff">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="StaffServiceService">
    <port name="StaffServicePort" binding="tns:StaffServicePortBinding">
      <soap:address location="http://localhost:8080/ws02/StaffService" />
    </port>
  </service>
</definitions>