zwscsclient/zwscsclient/Web References/localhost.staff/StaffService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://types/" targetNamespace="http://types/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="listOfStaff">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:staff" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="staff">
    <xs:sequence>
      <xs:element name="age" type="xs:int" />
      <xs:element minOccurs="0" name="FIO" type="xs:string" />
      <xs:element minOccurs="0" name="position" type="xs:string" />
      <xs:element name="salary" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>