zwscsclient/zwscsclient/Web References/localhost.provider/ProviderService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://types/" targetNamespace="http://types/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="provider">
    <xs:sequence>
      <xs:element name="cooperation" type="xs:int" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="product" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listOfProvider">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:provider" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>