zwscsclient/zwscsclient/Web References/localhost.branch/BranchService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://types/" targetNamespace="http://types/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="listOfBranch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:branch" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="branch">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="tree" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>