zwscsclient/zwscsclient/Web References/localhost.branch/BranchService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://endpoint.service/" xmlns:ns1="http://types/" targetNamespace="http://endpoint.service/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/ws02/BranchService?xsd=1" namespace="http://types/" />
  <xs:element name="getAllBranch" type="tns:getAllBranch" />
  <xs:element name="getAllBranchResponse" type="tns:getAllBranchResponse" />
  <xs:element name="setNewBranch" type="tns:setNewBranch" />
  <xs:element name="setNewBranchResponse" type="tns:setNewBranchResponse" />
  <xs:complexType name="getAllBranch">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getAllBranchResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:listOfBranch" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setNewBranch">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="ns1:branch" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setNewBranchResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:listOfBranch" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>