zwscsclient/zwscsclient/Web References/localhost.action/ActionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://types/" targetNamespace="http://types/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="action">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element name="price" type="xs:double" />
      <xs:element name="time" type="xs:double" />
      <xs:element minOccurs="0" name="venik" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listOfAction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:action" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>