zwscsclient/zwscsclient/Web References/localhost.material/MaterialService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://types/" targetNamespace="http://types/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="listOfMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:material" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="material">
    <xs:sequence>
      <xs:element name="amount" type="xs:int" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element name="price" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>